.banner {
  .container {
    background-image: url("../img/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 80%;
    height: 332px;
  }
}
