.footer {
  height: 49em;
  margin-top: 5em;
  overflow: hidden;

  background-color: rgba(
    $color: $footer-background-color,
    $alpha: $footer-background-opacity
  );

  .container {
    padding: 6% 8%;
  }

  .logo {
    .title {
      font-size: 2.4em;
      font-weight: 600;
      white-space: nowrap;
      align-self: flex-end;
      margin: 0;
    }

    span {
      padding: 0.4em;
      img {
        width: 4.3em;
        height: 3.5em;
      }
    }
  }

  .address {
    margin: 2.6em 0 2.6em 0;
    display: flex;
    p {
      font-size: 2em;
      font-weight: 400;
      color: rgba($color: $title1-color, $alpha: 0.7);
    }
  }

  .btn-group {
    display: flex;
    align-items: center;
    gap: 2.6em;
  }

  .copy-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
    font-weight: 400;
    color: $title1-color;

    &::before {
      content: " ";
      display: block;
      width: 85%;
      height: 0px;
      border: 1px solid rgba($color: $title1-color, $alpha: 0.5);
      margin-bottom: 4.4em;
    }
  }

  .icon-btn {
    padding: 1.2em;
    background-color: #fff;
    box-shadow: 0px 0px 1em 0px rgba(0, 0, 0, 0.3);
    img {
      width: 2.3em;
      height: 2.3em;
    }
  }

  .icon-btn-primary {
    background-color: $primary-color;
  }

  h3 {
    font-size: 2em;
    font-weight: 500;
    color: $title1-color;
    white-space: nowrap;
  }

  .list {
    position: relative;

    .list-title {
      margin: 1em 0 3em 0;
    }
    .col-4 {
      z-index: 6;
    }
    ul {
      list-style: none;
      padding: 0;

      li {
        margin: 1em 0;
        a {
          text-decoration: none;
          font-size: 1.8em;
          font-weight: 400;
          color: rgba($color: $title1-color, $alpha: 0.7);
          white-space: nowrap;
        }
      }
    }

    .circle {
      position: absolute;
      border-radius: 50%;
      background-color: $circle-color;
      padding: 0;
      z-index: 5;
    }

    .circle-1 {
      width: 3.8em;
      height: 3.8em;
      top: 0;
      left: 0;
    }

    .circle-2 {
      width: 10em;
      height: 10em;
      top: -5em;
      right: 7.8em;
    }

    .circle-3 {
      width: 6.6em;
      height: 6.6em;
      bottom: 1em;
      right: 62%;
    }
  }
}
