.header {
  background-color: rgba(
    $color: $header-background-color,
    $alpha: $header-background-opacity
  );
  width: 100%;
  position: relative;
  // Other header-specific styles

  @import "navbar";

  .img-group {
    position: relative;
    max-width: 50em;
    max-height: 59em;

    img {
      max-width: 100%;
      filter: drop-shadow(0 2.1em 0.7em rgba(0, 0, 0, 0.3));
    }

    .img1 {
      width: 34.4em;
      height: 33.8em;
    }

    .img2 {
      position: absolute;
      bottom: 6em;
      left: -3em;
      width: 20.2em;
      height: 20em;
    }

    .img3 {
      align-self: flex-end;
      width: 27.5em;
      height: 26.2em;
    }
  }

  .text {
    margin-right: 8em;
    h1 {
      font-size: 4.8em;
      font-weight: 600;
      color: $title1-color;
      span {
        color: $primary-color;
      }
    }
    p {
      font-size: 1.8em;
      font-weight: 400;
      color: rgba($color: $title1-color, $alpha: 0.8);
    }
  }

  .hero {
    position: relative;

    .circle {
      position: absolute;
      border-radius: 50%;
      background-color: $circle-color;
      padding: 0;
    }

    .circle-1 {
      width: 5.4em;
      height: 5.4em;
      top: 5.2em;
      right: 57em;
    }

    .circle-2 {
      width: 1.9em;
      height: 1.9em;
      top: 25em;
      right: 56.7em;
    }

    .circle-3 {
      width: 7.4em;
      height: 7.4em;
      top: 25em;
      right: 14.6em;
    }

    .circle-4 {
      width: 4.1em;
      height: 4.1em;
      bottom: 9.7em;
      right: 66.5em;
    }
  }
  .waving {
    position: absolute;
    bottom: 4em;
    left: 0;
    img {
      width: 17.8em;
      height: 3.7em;
    }
  }
  // More header components and styles
}
