@mixin button-styles($bg-color, $text-color) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 8px 6px;
  font-size: 1.4em;
  font-weight: 700;
  border: none;
  border-radius: 50px;
  background-color: $bg-color;
  color: $text-color;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: rgba($bg-color, 0.8);
  }
}

@mixin section-title-styles($color) {
  .section-title-1 {
    margin-bottom: 60px;
    color: $color;
    padding: 4px;
    font-weight: 500;
    font-size: 2.2em;
    margin: 0;
  }

  .section-title-2 {
    margin-bottom: 60px;
    text-align: center;
    color: $title1-color;
    font-size: 32px;
    font-weight: 700;
    padding: 4px;
    margin: 0;
  }

  .section-description {
    margin-bottom: 60px;
    padding: 6px;
    text-align: center;
    color: rgba($color: $title1-color, $alpha: 0.7);
    font-size: 2.2em;
    font-weight: 500;
    margin: 12px;
  }
}
