.nav {
  height: 10.8em;
  width: 80%;

  .nav-list {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;

    li {
      margin: 0 1.5em;

      a {
        white-space: nowrap;
        text-decoration: none;
        color: rgba($color: $title1-color, $alpha: 0.7);
        font-weight: 500;
        font-size: 2.2em;
        line-height: normal;

        &:hover {
          color: $title1-color;
        }
      }

      .active {
        color: $title1-color;
        text-decoration: underline;
      }
    }
  }

  .logo {
    .title {
      font-size: 2.4em;
      font-weight: 600;
      align-self: flex-end;
      margin: 0;
      white-space: nowrap;
    }

    span {
      padding: 0 0.4em;
      img {
        width: 4.7em;
        height: 4.7em;
        object-fit: contain;
      }
    }
  }

  .my-btn-group {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2.2em;

    .btn {
      font-size: unset;
    }

    .btn-search {
      width: 3.56em;
      height: 3.56em;
      padding: 0.5em;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .btn-cart {
      width: 3.56em;
      height: 3.56em;
      padding: 0.5em;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .btn-login {
    }
  }
}
