.nav {
  height: 108px;

  .nav-list {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;

    li {
      margin: 0 15px;

      a {
        text-decoration: none;
        color: rgba($color: $title1-color, $alpha: 0.7);
        font-weight: 500;
        font-size: 22px;
        line-height: normal;

        &:hover {
          color: $title1-color;
        }
      }

      .active {
        color: $title1-color;
        text-decoration: underline;
      }
    }
  }

  .logo {
    .title {
      font-size: 24px;
      font-weight: 600;
      align-self: flex-end;
      margin: 0;
    }

    span {
      padding: 4px;
    }
  }
}
