// Brand Colors
$primary-color: #ffcb45;

// Text Colors
$body-text-color: #fff9ea;
$text-color: #333;
$title1-color: #1d1d1d;
$title2-color: #1d1d1db2;

// Background Colors
$background-color: #f5f5f5;
$background-dark-color: #222;

// Button Colors

// Header
$header-background-color: #fff9ea;
$header-background-opacity: 100%;

// Footer

$footer-background-color: #fff9ea;
$footer-background-opacity: 100%;
