.what-the-say {
  width: 80%;
  margin: auto;

  .container {
    flex-wrap: nowrap;
  }

  .section-title {
    .section-title-2 {
      text-align: left;
      width: 60%;
    }
  }

  .comment {
    display: flex;
    gap: 20px;
    margin-top: 40px;
    margin-bottom: 40px;

    .comment-card {
      min-width: 452px;
      border-radius: 10px;
      background-color: #f1f1f1;
      padding: 16px;
      .user-info {
        .user-img {
          padding-right: 20px;
        }
        .user-name {
          font-size: 20px;
          font-weight: 500px;
        }
      }

      .description {
        p {
          font-size: 18px;
          font-weight: 400;
          color: rgba($color: $title1-color, $alpha: 0.7);
        }
      }
    }
  }
}
