// Import variables and mixins first
@import "variables";
@import "mixins";

// Import other style partials
@import "base";
@import "layout";
@import "components";

// Add your custom styles here

// Import additional partials if needed
//@import "other-partials";

@import "header";
@import "our-menu";
@import "footer";
@import "how-it-work";
@import "what-the-say";
@import "banner";

body {
  font-family: $global-font;
}

html {
  font-size: 62.5%;
}

/* Default font size for small screens */
body {
  font-size: 0.4rem;
}

/* Media query for medium-sized screens */
@media screen and (min-width: 768px) {
  body {
    font-size: 0.8rem;
  }
}

/* Media query for large screens */
@media screen and (min-width: 1024px) {
  body {
    font-size: 0.9rem;
  }
}

/* Media query for medium-sized screens */
@media screen and (min-width: 1080px) {
  body {
    font-size: 1rem;
  }
}
