.btn-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6em;
  padding: 0.8em 0.6em;
  border: none;
  border-radius: 5em;
  background-color: #ffcb45;
  cursor: pointer;
  white-space: nowrap;
  transition: background-color 0.3s, color 0.3s;
  color: #1d1d1d;
  font-size: unset;
}
.btn-primary a {
  font-weight: 700;
  color: #1d1d1d;
  font-size: 1.4em;
}
.btn-primary:hover {
  background-color: rgba(255, 203, 69, 0.8);
}

.icon-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6em;
  padding: 0.8em 0.6em;
  border: none;
  border-radius: 5em;
  background-color: transparent;
  cursor: pointer;
  white-space: nowrap;
  transition: background-color 0.3s, color 0.3s;
  color: #1d1d1d;
  font-size: unset;
  padding: 0.2em;
  margin: 0;
}
.icon-btn a {
  font-weight: 700;
  color: #1d1d1d;
  font-size: 1.4em;
}
.icon-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.icon-btn:hover {
  background-color: transparent;
}

.section-title .section-title-1 {
  margin-bottom: 6em;
  color: #ffcb45;
  padding: 0.4em;
  font-weight: 500;
  font-size: 2.2em;
  margin: 0;
}
.section-title .section-title-2 {
  margin-bottom: 6em;
  text-align: center;
  color: #1d1d1d;
  font-size: 3.2em;
  font-weight: 700;
  padding: 0.4em;
  margin: 0;
}
.section-title .section-description {
  margin-bottom: 6em;
  padding: 0.6em;
  text-align: center;
  color: rgba(29, 29, 29, 0.7);
  font-size: 2.2em;
  font-weight: 500;
  margin: 1.2em;
}

.container {
  max-width: 1440px;
  overflow-x: hidden;
}

.header {
  background-color: #fff9ea;
  width: 100%;
  position: relative;
}
.header .nav {
  height: 10.8em;
  width: 80%;
}
.header .nav .nav-list {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.header .nav .nav-list li {
  margin: 0 1.5em;
}
.header .nav .nav-list li a {
  white-space: nowrap;
  text-decoration: none;
  color: rgba(29, 29, 29, 0.7);
  font-weight: 500;
  font-size: 2.2em;
  line-height: normal;
}
.header .nav .nav-list li a:hover {
  color: #1d1d1d;
}
.header .nav .nav-list li .active {
  color: #1d1d1d;
  text-decoration: underline;
}
.header .nav .logo .title {
  font-size: 2.4em;
  font-weight: 600;
  align-self: flex-end;
  margin: 0;
  white-space: nowrap;
}
.header .nav .logo span {
  padding: 0 0.4em;
}
.header .nav .logo span img {
  width: 4.7em;
  height: 4.7em;
  object-fit: contain;
}
.header .nav .my-btn-group {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2.2em;
}
.header .nav .my-btn-group .btn {
  font-size: unset;
}
.header .nav .my-btn-group .btn-search {
  width: 3.56em;
  height: 3.56em;
  padding: 0.5em;
}
.header .nav .my-btn-group .btn-search img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.header .nav .my-btn-group .btn-cart {
  width: 3.56em;
  height: 3.56em;
  padding: 0.5em;
}
.header .nav .my-btn-group .btn-cart img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.header .img-group {
  position: relative;
  max-width: 50em;
  max-height: 59em;
}
.header .img-group .group-1 {
  position: relative;
}
.header .img-group .group-1 .circle-1 {
  width: 5.4em;
  height: 5.4em;
  top: 5.2em;
  left: -7.2em;
}
.header .img-group .group-1 .circle-2 {
  width: 1.9em;
  height: 1.9em;
  bottom: 8em;
  left: -4.7em;
}
.header .img-group .group-1 .circle-3 {
  width: 7.4em;
  height: 7.4em;
  bottom: 2em;
  right: 8em;
}
.header .img-group img {
  max-width: 100%;
  filter: drop-shadow(0 2.1em 0.7em rgba(0, 0, 0, 0.3));
}
.header .img-group .img1 {
  width: 34.4em;
  height: 33.8em;
}
.header .img-group .img2 {
  position: absolute;
  bottom: 6em;
  left: -3em;
  width: 20.2em;
  height: 20em;
}
.header .img-group .img3 {
  align-self: flex-end;
  width: 27.5em;
  height: 26.2em;
}
.header .text {
  margin-right: 8em;
}
.header .text h1 {
  font-size: 4.8em;
  font-weight: 600;
  color: #1d1d1d;
}
.header .text h1 span {
  color: #ffcb45;
}
.header .text p {
  font-size: 1.8em;
  font-weight: 400;
  color: rgba(29, 29, 29, 0.8);
}
.header .circle {
  position: absolute;
  border-radius: 50%;
  background-color: #ffac4b;
  padding: 0;
}
.header .hero {
  position: relative;
}
.header .hero .circle-4 {
  width: 4.1em;
  height: 4.1em;
  bottom: 9.7em;
  right: 66.5em;
}
.header .waving {
  position: absolute;
  bottom: 4em;
  left: 0;
}
.header .waving img {
  width: 17.8em;
  height: 3.7em;
}

.our-menu .product-card {
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1em;
  box-shadow: 0.2em 0.5em 1.2em 0 rgba(0, 0, 0, 0.1490196078);
}
.our-menu .product-card .product-img {
  margin-top: 2em;
  margin-bottom: 2em;
}
.our-menu .product-card .product-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.our-menu .product-card .product-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.our-menu .product-card .product-info-container .product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 10;
}
.our-menu .product-card .product-info-container .product-info .product-name {
  font-size: 2em;
  font-weight: 500;
  color: #1d1d1d;
}
.our-menu .product-card .product-info-container .product-info .more-info {
  padding: 0.6em 1.2em 0.6em 1.2em;
}
.our-menu .product-card .product-info-container .product-info .more-info .product-price {
  font-size: 2.2em;
  font-weight: 500;
  color: #1d1d1d;
}
.our-menu .product-card .product-info-container .product-info .product-desp {
  font-size: 1.8em;
  font-weight: 400;
  color: rgba(29, 29, 29, 0.7);
}
.our-menu .product-card .product-info-container .product-info .icon-btn img {
  object-fit: contain;
  width: 2.3em;
  height: 2em;
}
.our-menu .product-card .product-info-container::before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 130%;
  background-color: #fff;
  border-radius: 50% 50% 0 0;
  z-index: 9;
}

.footer {
  height: 489px;
  margin-top: 5em;
  overflow: hidden;
  background-color: #fff9ea;
}
.footer .container {
  padding: 6% 8%;
}
.footer .logo .title {
  font-size: 2.4em;
  font-weight: 600;
  white-space: nowrap;
  align-self: flex-end;
  margin: 0;
}
.footer .logo span {
  padding: 0.4em;
}
.footer .logo span img {
  width: 4.3em;
  height: 3.5em;
}
.footer .address {
  font-size: 2em;
  font-weight: 400;
  margin: 2.6em 0 2.6em 0;
  color: rgba(29, 29, 29, 0.7);
  display: flex;
}
.footer .btn-group {
  display: flex;
  align-items: center;
  gap: 2.6em;
}
.footer .copy-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.6em;
  font-weight: 400;
  color: #1d1d1d;
}
.footer .copy-right::before {
  content: " ";
  display: block;
  width: 85%;
  height: 0px;
  border: 1px solid rgba(29, 29, 29, 0.5);
  margin-bottom: 4.4em;
}
.footer .icon-btn {
  padding: 1.2em;
  background-color: #fff;
  box-shadow: 0px 0px 1em 0px rgba(0, 0, 0, 0.3);
}
.footer .icon-btn img {
  width: 2.3em;
  height: 2.3em;
}
.footer .icon-btn-primary {
  background-color: #ffcb45;
}
.footer h3 {
  font-size: 2em;
  font-weight: 500;
  color: #1d1d1d;
  margin: 1em 0 3em 0;
  white-space: nowrap;
}
.footer .list {
  position: relative;
}
.footer .list .col-4 {
  z-index: 6;
}
.footer .list ul {
  list-style: none;
  padding: 0;
}
.footer .list ul li {
  margin: 1em 0;
}
.footer .list ul li a {
  text-decoration: none;
  font-size: 1.8em;
  font-weight: 400;
  color: rgba(29, 29, 29, 0.7);
  white-space: nowrap;
}
.footer .list .circle {
  position: absolute;
  border-radius: 50%;
  background-color: #ffac4b;
  padding: 0;
  z-index: 5;
}
.footer .list .circle-1 {
  width: 3.8em;
  height: 3.8em;
  top: 0;
  left: 0;
}
.footer .list .circle-2 {
  width: 10em;
  height: 10em;
  top: -5em;
  right: 7.8em;
}
.footer .list .circle-3 {
  width: 6.6em;
  height: 6.6em;
  bottom: 1em;
  right: 62%;
}

.how-it-work {
  margin: 5em auto;
}
.how-it-work .service {
  width: 90%;
  display: flex;
}
.how-it-work .service .service-card {
  flex: 1;
}
.how-it-work .service .service-card img {
  margin-bottom: 2em;
  width: 18em;
  height: 18em;
  object-fit: contain;
}
.how-it-work .service .service-card .section-description {
  width: 80%;
  margin: auto;
}

.what-the-say {
  width: 80%;
  margin: 5em auto 8em auto;
}
.what-the-say .container {
  flex-wrap: nowrap;
  overflow-x: visible;
}
.what-the-say .section-title .section-title-2 {
  text-align: left;
  width: 60%;
}
.what-the-say .img-group {
  margin: 0 5.2em 0 0;
  gap: 1.4em;
}
.what-the-say .img-group .img-1 {
  width: 100%;
  height: 18.7em;
  object-fit: cover;
  border-radius: 1em 1em 0 0;
  filter: drop-shadow(0 2.1em 0.7em rgba(0, 0, 0, 0.3));
}
.what-the-say .img-group .img-2 {
  width: 100%;
  height: 20.8em;
  object-fit: cover;
  border-bottom-left-radius: 1em;
  filter: drop-shadow(0 2.1em 0.7em rgba(0, 0, 0, 0.3));
}
.what-the-say .img-group .img-3 {
  width: 100%;
  height: 20.8em;
  object-fit: cover;
  border-bottom-right-radius: 1em;
  filter: drop-shadow(0 2.1em 0.7em rgba(0, 0, 0, 0.3));
}
.what-the-say .img-group .img-group-2 {
  display: flex;
  gap: 1.4em;
}
.what-the-say .img-group .img-group-2 div {
  display: flex;
  flex: 1;
}
.what-the-say .comment {
  display: flex;
  gap: 2em;
  margin-top: 4em;
  margin-bottom: 4em;
}
.what-the-say .comment .comment-card {
  min-width: 45.2em;
  border-radius: 1em;
  background-color: #f1f1f1;
  padding: 1.6em;
}
.what-the-say .comment .comment-card .user-info .user-img {
  padding-right: 2em;
}
.what-the-say .comment .comment-card .user-info .user-img img {
  width: 6em;
  height: 6em;
  object-fit: cover;
}
.what-the-say .comment .comment-card .user-info .user-name {
  font-size: 2em;
  font-weight: 500;
}
.what-the-say .comment .comment-card .description p {
  font-size: 1.8em;
  font-weight: 400;
  color: rgba(29, 29, 29, 0.7);
}
.what-the-say .comment .comment-card .star img {
  width: 2.4em;
  height: 2.4em;
}

.banner .container {
  background-image: url("../img/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 1em;
  width: 85%;
  height: 33.2em;
}
.banner .container h2 {
  color: #fff;
  font-size: 3.2em;
  font-weight: 700;
}
.banner .container button {
  padding: 0.8em 1.6em 0.8em 1.6em;
  margin: 2em 0;
}

body {
  font-family: "Readex Pro", sans-serif;
}

html {
  font-size: 62.5%;
}

/* Default font size for small screens */
body {
  font-size: 0.4rem;
}

/* Media query for medium-sized screens */
@media screen and (min-width: 768px) {
  body {
    font-size: 0.8rem;
  }
}
/* Media query for large screens */
@media screen and (min-width: 1024px) {
  body {
    font-size: 0.9rem;
  }
}
/* Media query for medium-sized screens */
@media screen and (min-width: 1080px) {
  body {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
