.btn-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 8px 6px;
  font-size: 14px;
  font-weight: 700;
  border: none;
  border-radius: 50px;
  background-color: #ffcb45;
  color: #1d1d1d;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.btn-primary:hover {
  background-color: rgba(255, 203, 69, 0.8);
}

.icon-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 8px 6px;
  font-size: 14px;
  font-weight: 700;
  border: none;
  border-radius: 50px;
  background-color: transparent;
  color: #1d1d1d;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  padding: 2px;
  margin: 0;
}
.icon-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.icon-btn:hover {
  background-color: transparent;
}

.section-title .section-title-1 {
  margin-bottom: 60px;
  color: #ffcb45;
  padding: 4px;
  font-weight: 500;
  font-size: 22px;
  margin: 0;
}
.section-title .section-title-2 {
  margin-bottom: 60px;
  text-align: center;
  color: #1d1d1d;
  font-size: 32px;
  font-weight: 700;
  padding: 4px;
  margin: 0;
}
.section-title .section-description {
  margin-bottom: 60px;
  padding: 6px;
  text-align: center;
  color: rgba(29, 29, 29, 0.7);
  font-size: 22px;
  font-weight: 500;
  margin: 12px;
}

.container {
  max-width: 1440px;
}

.header {
  background-color: #fff9ea;
  width: 100%;
  position: relative;
}
.header .logo {
  font-size: 24px;
}
.header .nav {
  height: 108px;
}
.header .nav .nav-list {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.header .nav .nav-list li {
  margin: 0 15px;
}
.header .nav .nav-list li a {
  text-decoration: none;
  color: rgba(29, 29, 29, 0.7);
  font-weight: 500;
  font-size: 22px;
  line-height: normal;
}
.header .nav .nav-list li a:hover {
  color: #1d1d1d;
}
.header .nav .nav-list li .active {
  color: #1d1d1d;
  text-decoration: underline;
}
.header .nav .logo .title {
  font-size: 24px;
  font-weight: 600;
  align-self: flex-end;
  margin: 0;
}
.header .nav .logo span {
  padding: 4px;
}
.header .img-group {
  position: relative;
  max-width: 500px;
  max-height: 588.8px;
}
.header .img-group img {
  max-width: 100%;
  filter: drop-shadow(0 21px 7px rgba(0, 0, 0, 0.3));
}
.header .img-group .img2 {
  position: absolute;
  bottom: 60px;
  left: -30px;
}
.header .img-group .img3 {
  align-self: flex-end;
}
.header .text h1 {
  font-size: 48px;
  font-weight: 600;
  color: #1d1d1d;
}
.header .text h1 span {
  color: #ffcb45;
}
.header .text p {
  font-size: 18px;
  font-weight: 400;
  color: rgba(29, 29, 29, 0.8);
}
.header .hero {
  position: relative;
}
.header .hero .circle {
  position: absolute;
  border-radius: 50%;
  background-color: #ffac4b;
  padding: 0;
}
.header .hero .circle-1 {
  width: 54px;
  height: 54px;
  top: 52px;
  right: 576px;
}
.header .hero .circle-2 {
  width: 19px;
  height: 19px;
  top: 249px;
  right: 567px;
}
.header .hero .circle-3 {
  width: 74px;
  height: 74px;
  top: 249px;
  right: 146px;
}
.header .hero .circle-4 {
  width: 41px;
  height: 41px;
  bottom: 97px;
  right: 665px;
}
.header .waving {
  position: absolute;
  bottom: 40px;
  left: 0;
}

.our-menu .product-card {
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 2px 5px 12px 0px rgba(0, 0, 0, 0.1490196078);
}
.our-menu .product-card .product-img {
  margin-top: 20px;
  margin-bottom: 20px;
}
.our-menu .product-card .product-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.our-menu .product-card .product-info-container .product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 10;
}
.our-menu .product-card .product-info-container .product-info .product-name {
  font-size: 20px;
  font-weight: 500;
  color: #1d1d1d;
}
.our-menu .product-card .product-info-container .product-info .more-info {
  padding: 6px 12px 6px 12px;
}
.our-menu .product-card .product-info-container .product-info .more-info .product-price {
  font-size: 22px;
  font-weight: 500;
  color: #1d1d1d;
}
.our-menu .product-card .product-info-container .product-info .product-desp {
  font-size: 18px;
  font-weight: 400;
  color: rgba(29, 29, 29, 0.7);
}
.our-menu .product-card .product-info-container::before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 130%;
  background-color: #fff;
  border-radius: 50% 50% 0 0;
  z-index: 9;
}

.footer {
  height: 489px;
  background-color: #fff9ea;
}

.how-it-work .service-card img {
  margin-bottom: 20px;
}
.how-it-work .service-card .section-description {
  width: 80%;
  margin: auto;
}

.what-the-say {
  width: 80%;
  margin: auto;
}
.what-the-say .container {
  flex-wrap: nowrap;
}
.what-the-say .section-title .section-title-2 {
  text-align: left;
  width: 60%;
}
.what-the-say .comment {
  display: flex;
  gap: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.what-the-say .comment .comment-card {
  min-width: 452px;
  border-radius: 10px;
  background-color: #f1f1f1;
  padding: 16px;
}
.what-the-say .comment .comment-card .user-info .user-img {
  padding-right: 20px;
}
.what-the-say .comment .comment-card .user-info .user-name {
  font-size: 20px;
  font-weight: 500px;
}
.what-the-say .comment .comment-card .description p {
  font-size: 18px;
  font-weight: 400;
  color: rgba(29, 29, 29, 0.7);
}

.banner .container {
  background-image: url("../img/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 80%;
  height: 332px;
}

body {
  font-family: "Readex Pro", sans-serif;
}

/*# sourceMappingURL=style.css.map */
